.git
.gitignore

.venv
**/__pycache__
*.py[cod]
.pytest_cache
.coverage

.env
**/.env*

**/node_modules
**/.next

work
*.bak
docs/screenshots
.github
docs
backend/tests
frontend/tests
frontend/coverage
README.md
